$minhaCor: brown;

@import "./style/global-overrides";

.emulated {
    background-color:brown !important;
    border-radius: 20px;
    color: white;
    text-align: center;
    
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
